@using System.Web.UI.WebControls

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Bienvenidos a CloudSonos</title>
	@*Nucleo Bootstrap*@
	<link href="~/ASSETS PRESENTATION/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

	@*Diseños Custom*@
	<link href="~/ASSETS PRESENTATION/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css">
	<link href="~/ASSETS PRESENTATION/css/agency.min.css" rel="stylesheet"/>
</head>
<body id="page-top">
	@*NAVBAR*@
	<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background: black">
		<div class="container">
			<a class="navbar-brand js-scroll-trigger" href="#page-top">CLOUDSONOS</a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				Menu
				<i class="fas fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive" style="background: black">
				<ul class="navbar-nav text-uppercase ml-auto">
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="#services">Servicios</a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="#portfolio">Destacados</a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="#about">Acerca</a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="#team">Equipo</a>
					</li>
					<li class="nav-item">
						@Html.ActionLink("Login","Index","Login",null,new {@class = "nav-link js-scroll-trigger" })
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Header -->
	<header class="masthead">
		<div class="container">
			<div class="intro-text">
				<div class="intro-lead-in">Bienvenidos</div>
				<div class="intro-heading text-uppercase">CloudSonos</div>
				<a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Descubre más</a>
			</div>
		</div>
	</header>

	<!-- Services -->
	<section id="services">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading text-uppercase">Servicios</h2>
					<p> &nbsp; </p>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-4">
					<span class="fa-stack fa-4x">
						<i class="fas fa-circle fa-stack-2x text-primary"></i>
						<i class="fas fa-music fa-stack-1x fa-inverse"></i>
					</span>
					<h4 class="service-heading">Musica</h4>
					<p class="text-muted">Musica de alta calidad sin comprension de ningun tipo, archivos flac nativos hasta tus oidos.</p>
				</div>
				<div class="col-md-4">
					<span class="fa-stack fa-4x">
						<i class="fas fa-circle fa-stack-2x text-primary"></i>
						<i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
					</span>
					<h4 class="service-heading">Todo en Uno</h4>
					<p class="text-muted">Una pagina para todo, disfrute de su musica en todos los dispositivos.</p>
				</div>
				<div class="col-md-4">
					<span class="fa-stack fa-4x">
						<i class="fas fa-circle fa-stack-2x text-primary"></i>
						<i class="fas fa-lock fa-stack-1x fa-inverse"></i>
					</span>
					<h4 class="service-heading">Seguridad</h4>
					<p class="text-muted">En conjunto con paypal para mayor seguridad en sus pagos.</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Portfolio Grid -->
	<section class="bg-light" id="portfolio">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading text-uppercase">Destacados</h2>
					<p> &nbsp; </p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6 portfolio-item">
					<a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<i class="fas fa-plus fa-3x"></i>
							</div>
						</div>
						<img class="img-fluid" src="~/ASSETS PRESENTATION/img/689419.jpg" alt="">
					</a>
					<div class="portfolio-caption">
						<h4>Pink Floyd</h4>
						<p class="text-muted">Rock</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 portfolio-item">
					<a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<i class="fas fa-plus fa-3x"></i>
							</div>
						</div>
						<img class="img-fluid" src="~/ASSETS PRESENTATION/img/ac_dc_high_voltage-wallpaper-1366x768.jpg" alt="">
					</a>
					<div class="portfolio-caption">
						<h4>AC-DC</h4>
						<p class="text-muted">Metal</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 portfolio-item">
					<a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<i class="fas fa-plus fa-3x"></i>
							</div>
						</div>
						<img class="img-fluid" src="~/ASSETS PRESENTATION/img/maxresdefault.jpg" alt="">
					</a>
					<div class="portfolio-caption">
						<h4>Daft Punk</h4>
						<p class="text-muted">Electronica Punk</p>
					</div>
				</div>

				<div class="col-md-4 col-sm-6 portfolio-item">
					<a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<i class="fas fa-plus fa-3x"></i>
							</div>
						</div>
						<img class="img-fluid" src="~/ASSETS PRESENTATION/img/Easy_Life.jpg" alt="">
					</a>
					<div class="portfolio-caption">
						<h4>Easy Life</h4>
						<p class="text-muted">POP</p>
					</div>
				</div>

				<div class="col-md-4 col-sm-6 portfolio-item">
					<a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<i class="fas fa-plus fa-3x"></i>
							</div>
						</div>
						<img class="img-fluid" src="~/ASSETS PRESENTATION/img/beatles-1.jpg" alt="">
					</a>
					<div class="portfolio-caption">
						<h4>The Beatles</h4>
						<p class="text-muted">Rock n Roll</p>
					</div>
				</div>

				<div class="col-md-4 col-sm-6 portfolio-item">
					<a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<i class="fas fa-plus fa-3x"></i>
							</div>
						</div>
						<img class="img-fluid" src="~/ASSETS PRESENTATION/img/toto-old-copy.jpg" alt="">
					</a>
					<div class="portfolio-caption">
						<h4>TOTO</h4>
						<p class="text-muted">POP</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Portfolio Modals -->
	<!-- Modal 1 -->
	<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl"></div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 mx-auto">
							<div class="modal-body">
								<!-- Project Details Go Here -->
								<h2 class="text-uppercase">Pink Floyd</h2>
								<img class="img-fluid d-block mx-auto" src="~/ASSETS PRESENTATION/img/689419.jpg" alt="">
								<p>Plataforma oficial de la premier del remaster en formato flac de el disco "The Dark side of the Moon"</p>
								<ul class="list-inline">
									<li>Fecha: Enero 2018</li>
									<li>Categoria: Remaster</li>
								</ul>
								<button class="btn btn-primary" data-dismiss="modal" type="button">
									<i class="fas fa-times"></i>
									Cerrar
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal 2 -->
	<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl"></div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 mx-auto">
							<div class="modal-body">
								<!-- Project Details Go Here -->
								<h2 class="text-uppercase">AC-DC</h2>
								<img class="img-fluid d-block mx-auto" src="~/ASSETS PRESENTATION/img/ac_dc_high_voltage-wallpaper-1366x768.jpg" alt="">
								<p>La banda AC-DC brindo a cloud sonos la oportunidad de subir el calidad hi-res su mas reciente concierto en Amsterdan para el deleite de los audifolos</p>
								<ul class="list-inline">
									<li>Fecha: Noviembre 2017</li>
									<li>Categoria: Conciertos</li>
								</ul>
								<button class="btn btn-primary" data-dismiss="modal" type="button">
									<i class="fas fa-times"></i>
									Cerrar
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal 3 -->
	<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl"></div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 mx-auto">
							<div class="modal-body">
								<!-- Project Details Go Here -->
								<h2 class="text-uppercase">Daft Punk</h2>
								<img class="img-fluid d-block mx-auto" src="~/ASSETS PRESENTATION/img/maxresdefault.jpg" alt="">
								<p>Cloud Sonos se enorgullece en presentar el estreno del nuevo disco de la banda francesa Daft Punk, llamado "ROM" en simultaneo de las demas plataformas</p>
								<ul class="list-inline">
									<li>Fecha: Diciembre 2019</li>
									<li>Categoria: Estrenos</li>
								</ul>
								<button class="btn btn-primary" data-dismiss="modal" type="button">
									<i class="fas fa-times"></i>
									Cerrar
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal 4 -->
	<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl"></div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 mx-auto">
							<div class="modal-body">
								<!-- Project Details Go Here -->
								<h2 class="text-uppercase">Easy Life</h2>
								<img class="img-fluid d-block mx-auto" src="~/ASSETS PRESENTATION/img/Easy_Life.jpg" alt="">
								<p>Easy Life se unio con la idea de mantener sus demos privadas solo para la vista del grupo y producir musica de una manera mas agil</p>
								<ul class="list-inline">
									<li>Fecha: Septiembre 2017</li>
									<li>Categoria: Bandas</li>
								</ul>
								<button class="btn btn-primary" data-dismiss="modal" type="button">
									<i class="fas fa-times"></i>
									Cerrar
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal 5 -->
	<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl"></div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 mx-auto">
							<div class="modal-body">
								<!-- Project Details Go Here -->
								<h2 class="text-uppercase">The Beatles</h2>
								<img class="img-fluid d-block mx-auto" src="~/ASSETS PRESENTATION/img/beatles-1.jpg" alt="">
								<p>Cloud Sonos obtuvo los derechos exclusivos de las reproducciones en vinilo en calidad mono para deleite de los "old school"</p>
								<ul class="list-inline">
									<li>Fecha: Marzo 2019</li>
									<li>Categoria: Vinilo</li>
								</ul>
								<button class="btn btn-primary" data-dismiss="modal" type="button">
									<i class="fas fa-times"></i>
									Cerrar
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal 6 -->
	<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl"></div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 mx-auto">
							<div class="modal-body">
								<!-- Project Details Go Here -->
								<h2 class="text-uppercase">ToTo</h2>
								<img class="img-fluid d-block mx-auto" src="~/ASSETS PRESENTATION/img/toto-old-copy.jpg" alt="">
								<p>Toda la discografia de ToTo en un solo lugar exitos como: Africa, Roxana y muchos mas, aqui en Cloud Sonos</p>
								<ul class="list-inline">
									<li>Fecha: Agosto 2017</li>
									<li>Categoria: General</li>
								</ul>
								<button class="btn btn-primary" data-dismiss="modal" type="button">
									<i class="fas fa-times"></i>
									Close Project
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- About -->
<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading text-uppercase">Nuestra Historia</h2>
				<p> &nbsp; </p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<ul class="timeline">
					<li>
						<div class="timeline-image">
							<img class="rounded-circle img-fluid" src="~/ASSETS PRESENTATION/img/about/camera-contemporary-flash-134469.jpg" alt="">
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4>2017</h4>
								<h4 class="subheading">Humilde Inicio</h4>
							</div>
							<div class="timeline-body">
								<p class="text-muted">Inicio como proyecto universitario pero nadie se espero el boom inmediato</p>
							</div>
						</div>
					</li>
					<li class="timeline-inverted">
						<div class="timeline-image">
							<img class="rounded-circle img-fluid" src="~/ASSETS PRESENTATION/img/about/Easy_Life.jpg" alt="">
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4>Marzo 2018</h4>
								<h4 class="subheading">Primera banda reconocida</h4>
							</div>
							<div class="timeline-body">
								<p class="text-muted">Conseguimos el primer contrato de una banda mas reconocida mundialmente.</p>
							</div>
						</div>
					</li>
					<li>
						<div class="timeline-image">
							<img class="rounded-circle img-fluid" src="~/ASSETS PRESENTATION/img/about/artists-audience-band-1763075.jpg" alt="">
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4>Diciembre 2018</h4>
								<h4 class="subheading">Primer Concierto</h4>
							</div>
							<div class="timeline-body">
								<p class="text-muted">Concierto realizado en Los Angeles.</p>
							</div>
						</div>
					</li>
					<li class="timeline-inverted">
						<div class="timeline-image">
							<img class="rounded-circle img-fluid" src="~/ASSETS PRESENTATION/img/about/brainstorming-collaborate-collaboration-1204649.jpg" alt="">
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4>Actualidad</h4>
								<h4 class="subheading">Un equipo comprometido</h4>
							</div>
							<div class="timeline-body">
								<p class="text-muted">Un equipo comprometido con la calidad en el software y en la musica de calidad</p>
							</div>
						</div>
					</li>
					<li class="timeline-inverted">
						<div class="timeline-image">
							<h4>
								Se Parte
								<br>De Nuestra
								<br>Historia!
							</h4>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
	
<!-- Footer -->
<footer style="background : black">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<span class="copyright" style="color: azure">Copyright &copy; Your Website 2019</span>
			</div>
			<div class="col-md-4">
				<ul class="list-inline social-buttons">
					<li class="list-inline-item">
						<a href="#">
							<i class="fab fa-twitter"></i>
						</a>
					</li>
					<li class="list-inline-item">
						<a href="#">
							<i class="fab fa-facebook-f"></i>
						</a>
					</li>
					<li class="list-inline-item">
						<a href="#">
							<i class="fab fa-linkedin-in"></i>
						</a>
					</li>
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="list-inline quicklinks">
					<li class="list-inline-item">
						<a href="#">Privacy Policy</a>
					</li>
					<li class="list-inline-item">
						<a href="#">Terms of Use</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>


<script src="~/ASSETS PRESENTATION/vendor/jquery/jquery.min.js"></script>
	<script src="~/ASSETS PRESENTATION/vendor/bootstrap/js/bootstrap.bundle.js"></script>
	<script src="~/ASSETS PRESENTATION/vendor/jquery-easing/jquery.easing.js"></script>
	<script src="~/ASSETS PRESENTATION/js/agency.min.js"></script>

	<script src="~/ASSETS PRESENTATION/js/jqBootstrapValidation.js"></script>
	<script src="~/ASSETS PRESENTATION/js/contact_me.js"></script>
</body>
</html>
